*{
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", serif;
}

@keyframes appear {
    from {
        transform: scale(0.6);
    }
    to {
        transform: scale(1);
    }
}

hr{
    animation: appear 2.5s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 45%;
}


/* Header */
.header{
    width: 100%;
    height: 350px;
    position: relative;
    padding-bottom: 30px;
    background-image: linear-gradient(transparent,rgba(0, 0, 0, 0.681)), url(/Images/Header.jpg);
    background-size: cover;
    overflow: hidden;
    
}

.header-box{
    width: 90%;
    position: absolute;
    top:80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-box h1{
    font-size: 2.7vw;
    text-shadow: 1px 1px 5px rgb(255, 0, 0);
    letter-spacing: 1.5px;
    color: white;
    font-weight: 600;
    position: relative;
}

@media(max-width:700px){
    .header-box h1{
        font-size: 30px;
    }
}

/*--- Vision ---*/
.vision{
    width: 100%;
    background: rgb(255, 255, 255);
    margin: auto;
    text-align: center;
    margin-top: 1%
}

.vision h3{
    font-size: 27px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.496);
    font-weight: 600;
}

.vision-box{
    padding: 2em;
    background: linear-gradient( rgba(144, 144, 144, 0.6),rgb(255, 255, 255));
    text-align: center;
    transition: 0.3s;
    scale: 1;
    cursor: pointer;
} 

.vision-box:hover{
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.289); 
    letter-spacing: 2.5px;
    scale: 1.05;
}

.vision-box p{
    letter-spacing: 0;
    font-style: italic;
}

.grid-container{
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap:40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}

.vision-textbox{
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.vision-textbox span{
    font-style: italic;
    font-size:18px
}

.vision-box span{
    color:rgb(253, 40, 40)
}

@media(max-width:700px){
    .grid-container{
        display: grid; /* Keep the grid layout */
        grid-auto-flow: column; /* Make grid items flow horizontally */
        grid-auto-columns: 325px; /* Set column size */
        grid-template-columns: 325px;
        gap: 20px; /* Spacing between grid items */
        overflow-x: auto; /* Enable horizontal scrolling */
        padding: 60px 40px 30px 40px;
        scroll-behavior: smooth;
        -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
        scrollbar-width: none;
    }
    .vision-box:hover{
        box-shadow: none;
        letter-spacing: 0;
        scale: 1;
    }
    .vision-textbox{
        font-size: 15px;
    }
    .vision-textbox span{
        font-size: 16px;
    }
}

/* Partners */
.partners{
    width: 100%;
    padding: 10px;
    position: relative;
}

.heading-h2{
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 30px;
    animation: appear 2.5s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 45%;
}

.container{
    padding: 10px;
}

.cards h2{
    letter-spacing: 1px;
    font-size: 25px;
}

.cards{
    display: flex;
    padding: 10px;
    margin-bottom: 1%;
    animation: appear 2.5s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 45%;
}

.cards img{
    width: 230px;
    height: 250px;
    align-items: left;
    object-fit: cover;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.289);
}

.info h5{
    font-style: italic;
    font-size: 19px;
}

.cards .info{
    padding: 30px;
    padding-top: 5px;
}

.more-info{
    display: none;
}

.more-info--show{
    display: inline;
}

.toggle-btn{
    color: red;
    cursor: pointer;
}

@media(max-width:700px){
    .cards{
        flex-direction: column;
    }
}

/* Team */
.team{
    width: 100%;
    padding: 10px;
    position: relative;
}

/* Staff */ 
.staff{
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 10px;
}

