*{
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", serif;
    box-sizing: border-box;
}

/* Video */
.bg-video{
    position: absolute;
    object-fit: cover;
    top: 0;
    right: 0;
    z-index: -1;
}

@keyframes appear {
    from {
        opacity: 0.5;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

hr{
    animation: appear 2.5s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 45%;
}

/* Heading */
.header{
    width: 100%;
    position: relative;
    height: 350px;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.159),transparent);
    background-size: cover;
}

.header-box{
    width: 90%;
    position: absolute;
    top:80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-box h1{
    font-size: 2.7vw;
    text-shadow: 1px 1px 5px rgb(255, 0, 0);
    letter-spacing: 1.5px;
    color: white;
    font-weight: 600;
    position: relative;
}

@media(max-width:700px){
    .header-box h1{
        font-size: 30px;
    }
}

/* 2015 - 2023 */
.fifteen-current{
    width: 100%;
    position: relative;
    min-height: 100vh;
}

.heading-h2{
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 30px;
    animation: appear 2.5s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 45%;
}

.fifteen-table{
    border-collapse: collapse;
    font-size: 1em;
    margin-top: 25px;
    width: 100%;
}

.container{
    max-width: 95%;
    padding-top: 30px;
    overflow: hidden;
}

.fifteen-table thead tr{
    background-color: rgba(255, 0, 0, 0.71);
    color: rgb(0, 0, 0);
    text-align: left;
    font-weight: bold;
}

.fifteen-table th, td{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    width: 15px;
}

.fifteen-table tbody tr{
    border-bottom: 1px solid rgb(166, 166, 166);
}

.fifteen-table tbody tr:nth-of-type(even){
    background-color: rgb(226, 226, 226);
}

.fifteen-table tbody tr:last-of-type{
    border-bottom: 1.5px solid rgba(255, 0, 0, 0.71); 
}

@media(max-width:700px){
    .wrapper{
        overflow-x: auto;
        padding: 0;
    }
    .container{
        max-width: 100%;
    }
}

.wrapper::-webkit-scrollbar{
    display: none;
} 