*{
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", serif;
    box-sizing: border-box;
}

/* Video */

@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

/* Heading */
.header{
    width: 100%;
    position: relative;
    height: 350px;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.386),transparent), url(/Images/Header.jpg);
    background-size: cover;
}

.header-box{
    width: 90%;
    position: absolute;
    top:80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-box h1{
    font-size: 2.7vw;
    text-shadow: 1px 1px 5px rgb(255, 0, 0);
    letter-spacing: 1.5px;
    color: white;
    font-weight: 600;
    position: relative;
}

@media(max-width:700px){
    .header-box h1{
        font-size: 30px;
    }
}

/* 2015 - 2023 */
.fifteen-current{
    width: 100%;
    position: relative;
    animation: fade-up 0.5s
}

.heading-h2{
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 30px;
}

.fifteen-table{
    border-collapse: collapse;
    font-size: 1em;
    margin-top: 25px;
    width: 100%;
}

.container{
    max-width: 95%;
    padding-top: 30px;
    overflow: hidden;
}

.fifteen-table thead tr{
    background-color: rgba(255, 0, 0, 0.71);
    color: rgb(0, 0, 0);
    text-align: left;
    font-weight: bold;
}

th, td{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    width: 15px;
}

tbody tr{
    border-bottom: 1px solid rgb(166, 166, 166);
}

tbody tr:nth-of-type(even){
    background-color: rgb(226, 226, 226);
}

.fifteen-table tbody tr:last-of-type{
    border-bottom: 1.5px solid rgba(255, 0, 0, 0.71); 
}

@media(max-width:700px){
    .wrapper{
        overflow-x: auto;
        padding: 0;
    }
    .container{
        max-width: 100%;
    }
}

.wrapper::-webkit-scrollbar{
    display: none;
} 

/* 2014 - 2010 */
.ten-fourteen{
    width: 100%;
    position: relative;
    padding-top: 10px;
}

.ten-table{
    border-collapse: collapse;
    font-size: 1em;
    margin-top: 25px;
    width: 100%;
}

.ten-table thead tr{
    background-color: rgba(255, 0, 0, 0.71);
    color: rgb(0, 0, 0);
    text-align: left;
    font-weight: bold;
}

.ten-table tbody tr:last-of-type{
    border-bottom: 1.5px solid rgba(255, 0, 0, 0.71);
}

/* 2009 - 2005 */ 
.five-nine{
    width: 100%;
    position: relative;
    padding-top: 10px;
}

.five-table{
    border-collapse: collapse;
    font-size: 1em;
    margin-top: 25px;
    width: 100%;
}

.five-table thead tr{
    background-color: rgba(255, 0, 0, 0.71);
    color: rgb(0, 0, 0);
    text-align: left;
    font-weight: bold;
}

.five-table tbody tr:last-of-type{
    border-bottom: 1.5px solid rgba(255, 0, 0, 0.71);
}

/* 2000 - 2004 */

.zero-four{
    width: 100%;
    position: relative;
    min-height: 100vh;
    padding-top: 10px;
}

.zero-table{
    border-collapse: collapse;
    font-size: 1em;
    margin-top: 25px;
    width: 100%;
}

.zero-table thead tr{
    background-color: rgba(255, 0, 0, 0.71);
    color: rgb(0, 0, 0);
    text-align: left;
    font-weight: bold;
}

.zero-table tbody tr:last-of-type{
    border-bottom: 1.5px solid rgba(255, 0, 0, 0.71);
}