*{
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", serif;
}

@keyframes appear {
    from {
        transform: scale(0.6);
    }
    to {
        transform: scale(1);
    }
}

/* Header */
.header{
    width: 100%;
    height: 350px;
    position: relative;
    padding-bottom: 30px;
    background-image: linear-gradient(transparent,rgba(0, 0, 0, 0.681)), url(/Images/Header.jpg);
    background-size: cover;
    overflow: hidden;
    
}

.header-box{
    width: 90%;
    position: absolute;
    top:80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-box h1{
    font-size: 2.7vw;
    text-shadow: 1px 1px 5px rgb(255, 0, 0);
    letter-spacing: 1.5px;
    color: white;
    font-weight: 600;
    position: relative;
}

@media(max-width:700px){
    .header-box h1{
        font-size: 30px;
    }
    .location{
        width: 75%;
    }
}

/* Location */
.location{
    width: 65%;
    margin: auto;
    padding: 20px;
}

.location iframe{
    width: 100%;
    padding-top: 50px;
    height: 400px;
}