*{
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", serif;
    box-sizing: border-box;
}

@media(max-width:700px){
    h2{
        font-size: 23px;
    }
}

@keyframes appear {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

hr{
    animation: appear 2.5s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}

/*--- header ---*/
.header{
    background: linear-gradient(rgba(0, 0, 0, 0.282),rgba(0, 0, 0, 0.71));
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    position:relative;
    overflow: hidden;
}

/*--- Video ---*/
.bg-video{
    position: absolute;
    object-fit: cover;
    top: 0;
    right: 0;
    z-index: -1
}

@media(min-aspect-ratio:16/9){
    .bg-video{
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio:16/9){
    .bg-video{
        width: auto;
        height: 100%;
    }
}

.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 50px;
    text-shadow: 1px 1px 5px rgb(255, 0, 0);
    padding-bottom: 10px;
    letter-spacing: 1px;
}

.text-box h5{
    font-size: 20px;
    margin: 10px 0 40px;
    font-style: italic;
    font-weight: lighter;
}

@media(max-width:700px){
    .text-box h1{
        font-size: 28px;
    }
    .text-box h5{
        font-size: 15px;
    }
}

/* Description */
.description{
    width: 100%;
    padding: 50px;
    padding-bottom: 10px;
    position: relative;
}

.description h4{
    text-align: center;
    letter-spacing: 1px;
}

.description p{
    text-align: center;
    padding: 10px;
}

.info .more-info{
    display: inline;
}

.toggle-btn{
    display: none;
}

.title{
    color:red;
}

.description h4{
    font-size: 24px;
}

.des-tog-btn{
    color: red;
}

@media(max-width:700px){
    .description p{
        text-align: center;
        left: 20px;
        right: 20px;
    }
    .info .more-info{
        display: none;
    }
    .info .more-info--show{
        display: inline;
    }
    .toggle-btn{
        display: block;
        text-align: center;
    }
}


/*--- Vision ---*/
.vision{
    width: 100%;
    background: rgb(255, 255, 255);
    margin: auto;
    text-align: center;
    margin-top: 1%
}

.vision h3{
    font-size: 27px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.496);
    font-weight: 600;
}

.vision-box{
    padding: 2em;
    background: linear-gradient( rgba(144, 144, 144, 0.6),rgb(255, 255, 255));
    text-align: center;
    transition: 0.3s;
    scale: 1;
    animation: appear 2.5s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
    cursor: pointer;
} 

.vision-box:hover{
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.499); 
    letter-spacing: 2.5px;
    scale: 1.05;
}

.vision-box p{
    letter-spacing: 0;
}

.grid-container{
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap:40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}

.vision-textbox{
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.vision-textbox span{
    font-style: italic;
    font-size:18px
}

.vision-box span{
    color:rgb(253, 40, 40)
}

@media(max-width:700px){
    .grid-container{
        display: grid; /* Keep the grid layout */
        grid-auto-flow: column; /* Make grid items flow horizontally */
        grid-auto-columns: 325px; /* Set column size */
        grid-template-columns: 325px;
        gap: 20px; /* Spacing between grid items */
        overflow-x: auto; /* Enable horizontal scrolling */
        padding: 60px 40px 30px 40px;
        scroll-behavior: smooth;
        -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
        scrollbar-width: none;
        animation: appear 2.5s ease-in-out;
        animation-timeline: view();
        animation-range: entry 0% cover 35%;
    }
    .vision-box:hover{
        box-shadow: none;
        letter-spacing: 0;
        scale: 1;
    }
    .vision-textbox{
        font-size: 15px;
    }
    .vision-textbox span{
        font-size: 16px;
    }
}


/*--- team ---*/
.partners{
    width: 100%;
    position: relative;
    z-index: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    background: rgb(255, 255, 255);
    color: white;  
}

.team{
    width: 100%;
    position: relative;
    z-index: 0;
    margin: auto;
    padding-bottom: 30px;
    background: rgb(255, 255, 255);
    color: white;  
}

.team-heading{
    color: black;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 27px;
    letter-spacing: 1px;
    animation: appear 2.5s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
    font-weight: 400;
}

.box-area{
    padding-top: 5px;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    animation: appear 2.5s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
    padding-bottom: 25px;
}

#partners{
    justify-content: center;
}

#team-box{
    display: flex; /* Keep the grid layout */
    gap: 35px;/* Spacing between grid items */
    overflow-x: auto; /* Enable horizontal scrolling */
    padding: 20px;
    padding-top: 5px;
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    animation: appear 2.5s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
    justify-content: center;
}

.box{
    position: relative;
    align-items: center;
}

#team-box img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.box img{
    width: 275px;
    height: 275px;
    object-fit: cover;
    padding-bottom: 5px;
    padding-top: 10px;
}

#name{
    font-size: 20px;
}

#team-box h3{
    font-size: 18px;
}

.team-text{
    color: rgb(85, 85, 85); 
    text-align: center; 
    font-style: italic; 
    font-size: 14px;
}

@media(max-width:700px){
    .team h2{
        font-size: 27px;
    }
    .box-area{
        flex-direction: column;
        gap: 10px
    }

    #name{
        font-size: 20px;
        letter-spacing: 0.5px;
    }
    #team-box{
        flex-direction: row; /* Keep the grid layout */
        gap: 20px; /* Spacing between grid items */
        overflow-x: auto; /* Enable horizontal scrolling */
        padding-left: 15px;
        padding-right: 15px;
        scroll-behavior: smooth;
        -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
        scrollbar-width: none;
        justify-content: flex-start;
    }
    #team-box h3{
        font-size: 18px;
    }
}

/* Value */
.value{
    width: 100%;
    position: relative;
    z-index: 0;
    margin: auto;
    background: rgb(255, 255, 255);
    text-align: center;
}

.col p, .col span{
    display: inline;
    font-size: 25px;
}

.col p{
    color: red;
}

.col{
    position: relative;
    cursor: pointer;
    padding-top: 45px;
}

.col::after{
    content: '';
    position: absolute;
    height: 2.5px;
    width: 0%;
    left: 20%;
    bottom: -5px;
    background-color: red;
    transition: 0.3s;
    border-radius: 2px
}

.col:hover::after{
    width: 60%;
}

.col span{
    font-weight: bold;
}

.value-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    padding-left: 30px;
    padding-right: 30px;
    grid-gap: 20px;
    padding-bottom: 10px;
    justify-content: space-evenly;
    padding-top: 10px;
}

.value img{
    width: 37.5px;
    height: 37.5px;
}

/* Ongoing Projects and Recently completed projects*/
.ongoing-projects{
    width: 100%;
    padding-bottom: 25px;
}

.completed-projects{
    width: 100%;
}

.project-heading{
    font-size: 27px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 400;
    padding:20px;
    animation: appear 2.5s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}
 
.project-container{
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    overflow-x: auto;
    gap: 30px;
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;
    animation: appear 2.5s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}

.project{
    scale: 1;
    transition: 0.3s;
}

.project:hover{
    scale: 1.05;
}

.project:hover ::after{
    width: 80%;
}

.project:hover .project-title h5{
    letter-spacing: 1.5px;
}

.project img{
    width: 225px;
    height: 175px;
    object-fit: cover;
    transition: 0.3s;
    cursor: pointer;
}

.project-title h5{
    text-align: center;
    padding-top: 10px;
    letter-spacing: 1px;
    font-size: 17px;
    position: relative;
    transition: 0.3s;
    color: black;
}

.project-title h5::after{
    content: '';
    height: 2px;
    background-color: red;
    width: 0%;
    position: absolute;
    left: 10%;
    bottom: -5px;
    transition: 0.3s;
}

.project-title p{
    text-align: center;
    color: rgb(85, 85, 85);
    font-size: 15px;
    letter-spacing: 0;
}

.project a{
    text-decoration: none;
}

@media(max-width:700px){
    .project-container{
        justify-content: flex-start;
    }
}


/* Tabs */
.tabs{
    width: 100%;
    position: relative;
    padding: 10px;
    padding-top: 30px;
}

.container{
    display: flex;
    padding: 10px;
    gap: 25px;
    align-items: center;
    padding-top: 25px;
    overflow-x: auto;
    animation: appear 2.5s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}

.tab img{
    width: 300px;
    height: 230px;
    object-fit: cover; 
    align-items: center;
}

.tab{
    scale: 1;
    transition: 0.3s;
    letter-spacing: 1px;
    position: relative;
    cursor: pointer;
}

.tab:hover{
    scale: 1.05;
    letter-spacing: 2px;
}

.tab-title{
    text-align: center;
    padding: 15px;
}

.tab:hover button{
    display: inline;
}

.tab-title h3{
    font-size: 18px;
    font-weight: 600;
}

.tab::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    left: 20%;
    bottom: 10px;
    background-color: red;
    transition: 0.3s;
}

.tab:hover::after{
    width: 60%;
}

.tab-title button{
    position: absolute;
    top: 63%;
    left: 35%;
    padding: 5px;
    border: 0.2px solid rgb(255, 2, 2);
    padding-left: 7px;
    padding-right: 7px;
    transition: 0.3s;
    font-size: 15px;
    display: none;
    background-color: rgba(255, 255, 255, 0.838);
}

.tab-title button:hover{
    background: rgba(0, 0, 0, 0.838);
    color: white;
}

@media(max-width:700px){
    .container{
        flex-direction: column;
        justify-content: flex-start;
    }
    .tab-title button{
        display: block;
        left: 5%;
    }
}