*{
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", serif;
}

.navbar{
    width: 100%;
    min-height: 100vh;
}

nav{
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    padding-top: 10px;
    background: rgba(0, 0, 0, 0.642);
    backdrop-filter: blur(15px);
    height: 50px;
    width: 100%;
}

.nav-links{
    flex:1;
    text-align: right;
    align-items: center;
}

nav ul li{
    list-style: none;
    display: inline;
    position: relative;
    padding: 3px 13px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    letter-spacing: 0.5px;
}

nav ul li a:hover{
    color: red;
}

nav a{
    text-decoration: none;
}

nav h3{
    color: white;
    font-size: 25px;
}

nav span{
    color:red
}

nav .fa{
    display: none;
}

@media(max-width:700px){
    nav h3{
        font-size: 20px;
        position: absolute;
        top: 25%;
    }
    nav ul li{
        display: block;
        padding-top: 20px;
    }
    .nav-links{
        position: absolute;
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgb(0, 0, 0) 35%, rgba(0, 0, 0, 0.17) 100%);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 5px;
        font-size: 20px;
        cursor: pointer;
    }
}
