*{
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", serif;
}

.ace{
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding-top: 80px;
}

.header-box{
    text-align: center;
    padding-bottom: 20px;
}

.header-box h2{
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 500;
    position: relative;
}

.header-box h2::after{
    content: '';
    position: absolute;
    height: 2.5px;
    background-color: red;
    width: 20%;
    left: 40%;
    bottom: -10px;
}

.container{
    width: 70%;
    padding: 10px;
}

.cards{
    display: flex;
    padding: 10px;
    gap: 35px;
    justify-content: left;
}

.cards img{
    width: 350px;
    height: 250px;
    object-fit: cover;
}

.info h3{
    font-size: 25px;
    letter-spacing: 0.7px;
    font-weight: 500;
}

.info p{
    font-size: 17px;
    font-weight: 350;
    padding-bottom: 5px;
}

.images{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    gap: 30px;
    padding-bottom: 20px
}

.images img{
    width: 325px;
    height: 225px;
    object-fit: cover
}

@media(max-width: 700px){
    .container{
        width: 100%;
    }
    .cards{
        flex-direction: column;
        align-items: center;
        text-align: center;        
    }
    .images{
        gap: 35px;/* Spacing between grid items */
        overflow-x: auto; /* Enable horizontal scrolling */
        padding: 10px;
        padding-top: 5px;
        scroll-behavior: smooth;
        -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
        scrollbar-width: none;
        justify-content: flex-start;
    }
    .header-box h2::after{
        width: 70%;
        left: 15%;
    }
}

/* Solitare */ 
.solitare{
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding-top: 30px;
}