*{
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", serif;
}

@keyframes appear {
    from {
        transform: scale(0.6);
    }
    to {
        transform: scale(1);
    }
}

.header{
    width: 100%;
    background-image: url(/Images/Header.jpg);
    background-size: cover;
    height: 375px;
    position: relative;
}

hr{
    animation: appear 3s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}

.ace{
    width: 100%;
}

.header-box{
    text-align: center;
    padding-top: 25px;
    animation: appear 3s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}

.header button:hover{
    background: linear-gradient(rgba(255, 0, 0, 0.836),rgba(0, 0, 0, 0.836));
}

.header-box h2{
    font-size: 30px;
    letter-spacing: 1.5px;
    font-weight: 400;
    position: relative;
}

.container{
    width: 80%;
    padding: 10px;
    padding-top: 45px;
    animation: appear 3s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}

.cards{
    display: flex;
    padding: 10px;
    gap: 35px;
    justify-content: left;
}

.cards img{
    width: 350px;
    height: 250px;
    object-fit: cover;
}

.info h3{
    font-size: 25px;
    letter-spacing: 0.7px;
    font-weight: 500;
}

.info p{
    font-size: 17px;
    font-weight: 350;
    padding-bottom: 5px;
}

.images{
    display: flex;
    align-items: center;
    padding-top: 15px;
    gap: 30px;
    padding-bottom: 20px;
    overflow-x: auto;
}

.images img{
    width: 325px;
    height: 225px;
    object-fit: cover;
    transition: 0.3s
}

.images img:hover{
    scale: 1.05
}

@media(max-width: 700px){
    .container{
        width: 100%;
    }
    .cards{
        flex-direction: column;
        align-items: center;
        text-align: center;        
    }
    .images{
        gap: 35px;/* Spacing between grid items */
        overflow-x: auto; /* Enable horizontal scrolling */
        padding: 10px;
        padding-top: 5px;
        scroll-behavior: smooth;
        -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
        scrollbar-width: none;
        justify-content: flex-start;
    }
    .header-box h2::after{
        width: 70%;
        left: 15%;
    }
}

/* Solitare */ 
.solitare{
    width: 100%;
}
/* Bella */
.bella{
    width: 100%;
}

.header-title{
    text-align: center;
    padding-top: 45px;
    padding-bottom: 10px;
    font-size: 27px;
    letter-spacing: 1.5px;
    font-weight: 350;
}