*{
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", serif;
}

.header{
    height: auto;
}

.heading{
    margin-top: 10vh;
    padding-bottom: 20px;
}

.heading-h2 h2{
    text-align: center;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 27px;
    position: relative;
}

.heading-h2::after{
    content: '';
    background-color: red;
    height: 2.5px;
    position: absolute;
    width: 20%;
    left: 40%;
}
