*{
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", serif;
}

.header{
    height: auto;
}

.heading{
    margin-top: 10vh;
    padding-bottom: 20px;
}

.heading-h2 h2{
    text-align: center;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 27px;
    position: relative;
}

.heading-h2::after{
    content: '';
    background-color: red;
    height: 2.5px;
    position: absolute;
    width: 20%;
    left: 40%;
}

.container-1{
    width: 100%;
    padding-top: 15px;
}

.container{
    width: 90%;
    padding: 20px;
    display: flex;
    gap: 45px;
    justify-content: space-evenly;
}

.info{
    text-align: left;
}

.slides{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    min-width: 500px;
    min-height: 400px;
}

.slides img{
    object-fit: cover;
    scroll-snap-align: start;
    width: 500px;
    height: 400px;
}

@media(max-width:700px){

    .heading-h2::after{
        width: 60%;
        left: 20%;
    }

    .container{
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }

    .slides{
        min-width: 375px;
        min-height: 300px;
    }

    .slides img{
        width: 375px;
        height: 300px;
    }
}

@media(max-width:820px){
    .heading-h2::after{
        width: 40%;
        left: 30%;
    }
    .container{
        gap: 20px;
    }
    .slides{
        min-width: 375px;
        min-height: 300px;
    }
    .slides img{
        width: 375px;
        height: 300px;
    }
}
