*{
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", serif;
}

@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes appear {
    from{
        opacity: 0;
        transform: translateX(50px)
    }
    to{
        opacity: 1;
        transform: translateX(0px)
    }
}

.header{
    height: auto;
}

.heading{
    margin-top: 8.5vh;
    padding-bottom: 20px;
    animation: fade-up 0.5s;
}

.heading-h2 h2{
    text-align: center;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 27px;
    position: relative;
}

.heading-h2::after{
    content: '';
    background-color: red;
    height: 2.5px;
    position: absolute;
    width: 20%;
    left: 40%;
}

.container{
    padding: 25px;
    background-color: #30363a;
    padding-bottom: 40px;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.289);
    animation: fade-up 0.5s;
    align-items: center;
}

.container .title h4{
    text-align: center;
    font-size: 22px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    font-weight: 400;
    color: white
}

.images{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.images img{
    width: 275px;
    height: 250px;
    object-fit: cover;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.289);
}

@media(max-width:700px){
    .images{
        align-items: center;
    }
    .heading-h2::after{
        width: 50%;
        left: 25%
    }
}

@media(max-width:700px){
    .images{
        scrollbar-width:auto;
    }
}