*{
	margin:0;
	padding:0;
	box-sizing: border-box;
    font-family: "Nunito Sans", serif;
}

@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes appear {
    from{
        opacity: 0.3;
        transform: translateX(50px)
    }
    to{
        opacity: 1;
        transform: translateX(0px)
    }
}

@keyframes appear-thin {
    from{
        opacity: 0.3;
    }
    to{
        opacity: 1;
    }
}



.heading h2{
    font-size: 27px;
    text-align: center;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 25px;
    animation: fade-up 0.5s;
}

.timeline-section{
	background-color: #24292d;
	min-height: 100vh;
	padding: 100px 15px;
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
    animation: fade-up 0.5s;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #2f363e;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #ea2323;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
    animation: appear-thin 2.5s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}
.timeline-date{
	font-size: 18px;
	color: #ea2323;
	margin:6px 0 15px;
    animation: appear-thin 2.5s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}
.timeline-content{
    background-color: #2f363e;
	padding: 30px;
	border-radius: 5px;
    animation: appear 2.5s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}
.timeline-content h3{
    font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
    color: #c8c8c8;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

/* responsive */
@media(max-width: 700px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}